* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.no-select { /* Add this class to stop user highlights */
	-webkit-user-select: none; /* Chrome/Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
}
body {
	font-family: Helvetica, sans-serif;
	background-color: #FFFFFF
}
/*--------------------------------------------------------------
HEADER
--------------------------------------------------------------*/
header {
	overflow: hidden;
	position: fixed;
	width: 100%;
	height: 40px;
	background-color: #FFFFFF;
	border-bottom: 1px solid #E7E7E7;
	z-index: 6; /* Must be set to >=6, because for some reason fullcalendar buttons an has index of 5 */
	-webkit-backface-visibility: hidden; /* fixes weird bug with transform: translate */
}
header .wrapper {
	margin: auto;
	max-width: 1344px; <!-- 1344 is 70% of 1920 pixels -->
}
.social-container {
	padding-right: 22px;
}
.social {
	float: right;
	padding: 5px;
  font-size: 14px;
  width: 25px;
  text-align: center;
  text-decoration: none;
  margin: 7px 6px;
  border-radius: 50%;
}
.social:hover {
  opacity: 0.6;
}
.fa-facebook, .fa-twitter, .fa-instagram, .fa-snapchat-ghost, .fa-youtube-play, .fa-tumblr {
  background: black;
	color: white;
}
/*--------------------------------------------------------------
NAVBAR
--------------------------------------------------------------*/
nav {
	position: fixed;
	top: 40px;
	width: 100%;
	height: 80px;
	background-color: #FFFFFF;
	z-index: 6; /* See above ^^^ */
	box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.1);
	-webkit-backface-visibility: hidden; /* see above ^^ */
}
#nav-container {
	margin: auto;
	max-width: 1344px;  <!-- 1344 is 70% of 1920 pixels -->
}
.navbar {
	list-style-type: none;
	float: right;
}
.navbar > li {
	display: inline-block;
	margin-right: 30px;
	margin-top: 44px;
	position: relative;
}
.navbar > li > a {
	color: #00B6C2;
	text-align: center;
	text-decoration: none;
	font-size: 26px;
	padding-bottom: 10px;
}
.navbar > li::before {
	content: "";
	display: block;
	height: 6px;
	background-color: #00828B;
	transition: ease-in-out 175ms;
	position: absolute;
	width: 0%;
	transform: translateY(-44px);
}
.navbar > li:hover > a {
	color: #00828B;
}
.navbar > li:hover::before{
	width: 100%;
}
.dropdown-content {
	list-style-type: none;
  display: none;
  position: absolute;
	left: -14px;
	top: 36px;
  background-color: #FFFFFF;
  width: 133px;
  box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.1);
  z-index: 2;
}
.dropdown-content:before { /* This adds a pseudo element to cover the top box shadow */
  content: "";
  height: 5px;
  width: 100%;
  position: absolute;
  top: -5px;
  background: inherit;
  z-index: 2;
}
.dropdown-content a {
  color: #00B6C2;
  padding: 10px 15px;
	font-size: 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
	background-color: #F2F2F2;
	color: #00828B;
}
.dropdown:hover .dropdown-content {
    display: block;
}
#nav-container .active-page > a {
	color: #00666D;
}
#nav-container .active-drop > a {
	color: #00666D;
}
#nav-container .active-page::before { /* This puts the horizontal bar above the li for active-pages */
	content: "";
	display: block;
	height: 6px;
	background-color: #00666D;
	position: absolute;
	width: 100%;
	top: 0;
}
.logo {
	margin-left: 30px;
	margin-top: 10px;
}
/*--- MAKE NAVBAR SMALLER (everything adjusted based on font size difference, so 10 pixels) ---*/
@media screen and (max-width: 1115px) {
	.navbar > li {
		margin-top: 54px;
	}
	.navbar > li > a {
		font-size: 16px;
	}
	.navbar > li::before {
		transform: translateY(-54px);
	}
	.dropdown-content {
			top: 26px;
	}
}
/*--------------------------------------------------------------
SLIDESHOW
--------------------------------------------------------------*/
#slideshow-container {
	position: relative;
	top: 120px;
	width: 100%;
}
.prev, .next {
  cursor: pointer;
  position: absolute;
  bottom: 10%;
  width: auto;
  padding-left: 8px;
	padding-right: 8px;
  color: white;
  font-weight: bold;
  font-size: 36px;
	transition: color ease 200ms, transform ease 400ms;
}
.prev {
	margin-left: 25px;
}
.next {
  right: 0;
	margin-right: 25px;
}
.prev:hover, .next:hover {
	transform: scale(1.8);
}
#slideshow-container .dot-container {
	position: absolute;
	bottom: 10%;
	left: 50%;
	transform: translate(-50%, 0); /*this translate makes it the true center*/
	-webkit-backface-visibility: hidden;
	text-align: center;
}
.dot {
  cursor: pointer;
  height: 12px;
  width: 12px;
	margin: 0px 10px;
  background-color: #FFFFFF;
	opacity: 0.25;
  border-radius: 50%;
  display: inline-block;
}
.dot:hover:not(.active-dot) {
  opacity: 0.5;
}
.active-dot {
	opacity: 1;
}
#slideshow-container .text-container {
	position: absolute;
	bottom: 10px;
	left: 1.9%;
	left: 50%;
	transform: translate(-50%, 0); /*this translate makes it the true center*/
	text-align: center;
}
#slideshow-container .text-container p {
	font-size: 24px;
	color: white;
	letter-spacing: 1px;
  font-weight: bold;
}
#slideshow-container .slide {
	width: 100%;
	display: block;
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 0.5s;
  animation-name: fade;
  animation-duration: 0.5s;
	animation-timing-function: ease-out;
}

@-webkit-keyframes fade {
  from {opacity: 0}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: 0.2}
  to {opacity: 1}
}
/*--------------------------------------------------------------
CONTENT
--------------------------------------------------------------*/
#content {
	position: relative;
	top: 120px;
	max-width: 1344px;
	margin: auto;
	height: auto;
}
#banner {
	padding-top: 50px;
	display: block;
	margin: auto;
}
#event-list { /* more like the container */
	padding: 40px 0px;
	overflow: hidden;
	max-width: 500px;
	margin: auto;
}
#event-list ul {
	text-align: center;
	list-style-type: none;
	font-size: 20px;
}
#event-list ul li {
	padding-bottom: 30px;
}
#event-list ul li::before {
	content: "";
	display: block;
	height: 1px;
	width: 25px;
	margin: auto;
	background-color: #E7E7E7;
	position: relative;
	bottom: 15px;
}
#event-list ul li:first-child::before {
	content: none;
}
#calendar {
	position: relative;
	top: 50px;
	padding-bottom: 100px;
}
#calendar-button {
	font-size: 36px;
	font-weight: bold;
	padding: 15px;
	background-color:  white;
	border: 5px solid #00B6C2;
	position: relative;
	left: 50%;
	transform: translate(-50%, 0);
	font-family: monospace, monospace;
	letter-spacing: 5px;
	display: block;
}
#calendar-button a {
	text-decoration: none;
	color: #00B6C2;
}
#calendar-button a:hover {
	color: #00828B;
}
footer {
	position: relative;
	top: 210px;
	overflow: hidden;
	width: 100%;
	border-top: 1px solid #E7E7E7;
	background-color: #F6F6F6;
}
#footer-container {
	max-width: 800px;
	margin: auto;
}
#footer-container img {
	padding: 20px;
	float: left;
}
#eclogo {
	position: relative;
	top: 60px;
	left: 100px;
}
#footer-container p {
	position: relative;
	top: 70px;
	left: 142px;
	letter-spacing: 1px;
	line-height: 22px;
	font-size: 16px;
	clear: both;
	display: inline-block;
	text-align: center;
}



/* KALIA */
#events-content {
	position: relative;
	top: 120px;
	max-width: 1344px;
	margin: auto;
	height: auto;
	background-color: #FFFFFF;
}
#events-content img {
	width: 100%;
	height: 70%;
}
#events-content h1 {
		color: #00B6C2;
		font-size: 50px;
		text-align: center;
		padding-top: 20px;
}
.vertical-menu {
	padding-top: 10px;
	position: fixed;
    width: 200px;
}
.vertical-menu a {
    background-color: #eee;
    color: black;
    display: block;
    padding: 12px;
		text-decoration: none;
}
.vertical-menu a:hover {
    background-color: #00B6C2;
}
.vertical-menu a.active {
    background-color: #00B6C2;
    color: white;
}
#events-content .div1 {
	width: 70%;
	height: 50%;
	background-color: white;
	display: inline-block;
	padding-bottom: 25px;
	padding-top: 25px;
 background-color: white;
 float: right;
}
#events-content p {
font-family: Helvetica, sans-serif;
Color: grey;
text-align: center;
padding-left: 20px;
padding-right: 20px;
padding-top: 20px;
}
#events-content h2 {
	text-align: center;
	color:  grey;
	padding-top: 25px;
	font-size: 30px;
}
#events-content h5 {
	position: absolute;
	color: white;
	padding-top: 43%;
	font-size: 30px
}
#team-content {
	position: relative;
	top: 120px;
	width: 90%;
	margin: auto;
	height: 30px;
	background-color: white;
}
#team-content h1 {
	text-align: center;
	padding-top: 50px;
	font-size: 50px;
	color: #00B6C2;
}
#ca-container {
	position: relative;
	top: 200px;
	width: 90%;
	margin: auto;
	height: 600px;
	background-color: white;

}
#ca-container img {
	float: left;
	width: 50%;
	height: 600px;
	padding-top: 20px;
}
#ca-container h1 {
	text-align: center;
	padding-top: 20px;
	color: grey;
}
#ca-container p {
	padding-top: 20px;
	text-align: center;
	font-size: 30px;
	color: grey;
}
#palmetto {
	position: relative;
	top: 200px;
	width: 90%;
	margin: auto;
	background-color: white;
}
#palmetto h1 {
	text-align: center;
	padding-top: 50px;
	font-size: 50px;
	color: #00B6C2;
}
#palmetto-productions img {
	display: block;
	width: 70%;
	padding-top: 250px;
	margin-left: auto;
	margin-right: auto;
}
#palmetto-productions p {
	padding-top: 20px;
	text-align: center;
	font-size: 30px;
	color: grey;
}
hr {
 border-top: 1px solid #00B6C2;
}
